*{
    margin: 0;
    padding: 0;
}
.quadrado {
    width: 100%;
    height: 200px;
    background-color: red;
    position: sticky;
    top: 0px;
}

.quadro{
    width: 100%;
    height: 800px;  
    background-color: aquamarine;
}
