* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  sans-serif;

}

#container {
    width: 450px;
    padding: 20px;
    box-shadow: 4px 4px 8px black;
    margin: auto;
    margin-top: 20px;    
    background-image: url("assets/fundo2.jpg");
}

#side{
    margin: 12px 20px 20px 20px;
}


ul li:nth-child(1){
    list-style-image: url("assets/phone.jpg");
}
ul li:nth-child(2){
    list-style-image: url("assets/email.jpg");
}
ul li:nth-child(3){
    list-style-image: url("assets/gps.jpg");
}
ul li:nth-child(4){
    list-style-image: url("assets/globe.jpg");
}

#n1 {
    color:#346397;
}

h2 {
    font-size: 14px;
}


