html, body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0xp;
}
.container{
    background-color: black;
    height: 100Vh;
    display: grid;
    gap: 5px;
    /* grid-template: repeat(3, auto) / repeat(3, auto); */
    grid-template-areas:"a" 
                        "b" 
                        "c";

    justify-items:start;
    align-items: end;
    
    /* justify-content:start;
    align-content: end; */
    

}
.container > div{
    background-color: blueviolet;
    font-size: 40px;
    color: azure;
}
.container > :nth-child(1){
    background-color: blue;
    font-size: 40px;
    color: azure;
    grid-area: a;

}
.container > :nth-child(2){
    background-color: red;
    font-size: 40px;
    color: azure;
    grid-area: b;
}
.container > :nth-child(3){
    background-color: green;
    font-size: 40px;
    color: azure;
    grid-area: c;
}