#container {
    width: 500px;
    height: 500px;
    border: 1px solid;
    position: relative;
}
.quadrado {
    width: 100px;
    height: 100px;
}

.quadrado-red {
    background: red;
}
.quadrado-blue {
    background: blue;
    position: absolute;
    top: 0px;
    right: 0px;
}
.quadrado-green {
    background: green;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.quadrado-gray {
    background: gray;
    position: absolute;
    bottom: 0px;
}