.quadro{
    width: 610px;
    height: 600px;
    border: 1px solid;
    margin: auto;
    position: relative;
}
.quadrado {
    width: 100px;
    height: 100px;
}
.quadrado-red{
    background: red;
    width: auto;

}
.quadrado-blue{
    position: absolute;
    background: blue;
    width: 600px;
    left: 10px;
    top: 10px;

}
.quadrado-green{
    background: green;
    position: absolute;
    width: 580px;
    top: 30px;
    left: 30px;
}